



 
 /*cursor eyes*/
 .eyes{
    position: absolute;
    display: flex;
    top:0;
    left:0;
    z-index: 9900;
  }
  
  .eye{
    position: relative;
    background-color: #EEA7EE;
    display: inline-block;
    width: 3em;
    height:3em;
    margin:0 .3em;
    border-radius: 50%;
    z-index: 9900;
  
  }
  
  .eyes .eye::before{
    content:'';
    position: absolute;
    top:50%;
    left:30%;
    transform: translate(-50%, -50%);
    width: 1.5em;
    height:1.5em;
    background: rgb(248, 248, 248);
    border-radius: 50%;
    z-index: 9900;
}

 /* end cursor eyes*/

/* news ticker*/

 .ticker__viewport {
	height: auto;
	font-size: 1.5rem;
	background: #93E9AD;
	font-family: 'Asset', cursive;
	color: #fff;
	overflow: hidden;
	padding: .5em 0;
	margin-top: 3em;
}

.ticker__list {
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.ticker__item {
	display: inline-block;
	white-space: nowrap;
}


@media screen and (max-width: 1000px) {
	.ticker__viewport {
		margin-top: 3em;
		font-size: 1.2rem;
		
	}
}



/* end news ticker*/

.word-animation, .word-animation2, .word-animation3, .word-animation4,.word-animation5, .word-animation6{
	font-weight: 800;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 0.5em;
  }
  
.word-animation .word, .word-animation2 .word2 ,.word-animation3 .word3 ,.word-animation4 .word4,.word-animation5 .word5,  .word-animation6 .word6{
	display: inline-block;
	line-height: 2em;
  }


  