* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	background-color: #ffffff;
	font-family: 'Asset', cursive;
}

img {
	width: 100%;
	transition: .5s ease;
}


/* first page*/

.landingPage {
	background-image: url(/images/flytande-bakgrund.png);
	background-size: cover;
	height: 90%;
	margin-left: 3em;
	margin-right: 3em;
	margin-bottom: 3em;
	align-items: center;
	justify-content: center;
	perspective: 1000px;
	perspective-origin: 50% 50%;
	animation: animation 10s linear infinite;
}

@keyframes animation {
	100% {
		background-position: 0px -3000px;
	}
}


/* end first page*/


/*grid images portfolio*/

.section-grid {
	display: grid;
	background-color: rgb(255, 255, 255);
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	margin: 3em;
	grid-gap: 3em;
}

.grid1 {
	background-color: rgb(255, 255, 255);
	justify-content: center;
	text-align: center;
	vertical-align: middle;
}

.grid2 {
	background-color: rgb(255, 255, 255);
	text-align: center;
	vertical-align: middle;
}

.coolText1 {
	color: #8BBEDF;
	font-family: 'Asset', cursive;
	font-size: 1rem;
}

.coolText2 {
	color: #8BBEDF;
	font-family: 'Asset', cursive;
	font-size: 1rem;
}

@media screen and (max-width: 850px) {
	.section-grid {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.coolText2,
	.coolText1 {
		font-size: 1rem;
	}
}

@media screen and (max-width: 700px) {
	.coolText2,
	.coolText1 {
		font-size: .8rem;
	}
}


/* end grid images portfolio*/

.background {
	margin: 3em;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 1100px) {
	.image {
		width: 50%;
	}
}

@media screen and (max-width: 800px) {
	.image {
		width: 40%;
	}
}

.about-text {
	margin-top: 2em;
	text-align: center;
	color: rgb(109, 99, 255);
	text-transform: uppercase;
	font-family: 'Asset', cursive;
	font-size: 2rem;
}

@media screen and (max-width: 800px) {
	.about-text {
		margin-top: 3em;
		font-size: 1rem;
	}
	.about-p {
		margin-top: 3em;
		margin-bottom: 3em;
		font-size: .9rem;
	}
}

.ticker__viewport {
	height: auto;
	font-size: 1.5em;
	background: #93E9AD;
	font-family: 'Asset', cursive;
	color: #fff;
	overflow: hidden;
	padding: .5em 0;
	margin-top: 3em;
}

.ticker__list {
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.ticker__item {
	display: inline-block;
	white-space: nowrap;
}

.text-center {
	text-align: center;
}

@media screen and (max-width: 800px) {
	.ticker__viewport {
		height: auto;
		font-size: 1em;
		background: #93E9AD;
		font-family: 'Asset', cursive;
		color: #fff;
		overflow: hidden;
		padding: .5em 0;
		margin-top: 3em;
	}
}

.headerLink {
	text-decoration: none;
	color: white;
}

.headerLink:hover {
	text-decoration: none;
	color: #93E9AD;
}

.about {
	margin: 3em;
}

.about-p {
	margin-top: 3em;
	margin-bottom: 3em;
	font-family: 'Asset', cursive;
	width: 70%;
	color: #939393;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.portfolioImage {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	margin: 6em;
	grid-gap: 3em;
}

@media screen and (max-width: 800px) {
	.portfolioImage {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		margin: 3em;
	}
}

footer {
	background-color: #93E9AD;
	color: #fff;
	height: 10em;
	align-items: center;
	justify-content: center;
}

.headerText {
	color: #ffffff;
	width: 30%;
	text-transform: uppercase;
	font-family: 'Asset', cursive;
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-50%, -50%);
}

.smile-wrap {
	background-size: cover;
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 90%;
	width: 8%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	display: block;
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

.smile {
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 750px) {
	.smile-wrap {
		width: 15%;
	}
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}

@-webkit-keyframes arrows {
	0% {
		top: 0;
	}
	10% {
		top: 12%;
	}
	20% {
		top: 0;
	}
	30% {
		top: 12%;
	}
	40% {
		top: -12%;
	}
	50% {
		top: 12%;
	}
	60% {
		top: 0;
	}
	70% {
		top: 12%;
	}
	80% {
		top: -12%;
	}
	90% {
		top: 12%;
	}
	100% {
		top: 0;
	}
}

.myPicture {
	margin: 3em;
	width: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.donoutImg {
	width: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	animation: rotation 4s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

@media screen and (max-width: 800px) {
	.donoutImg {
		width: 30%;
	}
}

@media screen and (max-width: 600px) {
	.donoutImg {
		width: 40%;
	}
	.myPicture {
		width: 70%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.headerText span {
	color: rgb(109, 99, 255);
	display: none;
}

.article-image {
	width: 100%;
}

.blur {
	position: absolute;
	height: 100%;
	width: 100%;
	-webkit-filter: blur(0px);
	/* Safari 6.0 - 9.0 */
	filter: blur(0px);
	transition: .4s ease-in-out;
}

.blur:hover {
	-webkit-filter: blur(3px);
	/* Safari 6.0 - 9.0 */
	filter: blur(3px);
	transition: .4s ease-in-out;
}

.ar-image {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.article-image>p {
	display: none;
}

.article-image:hover>p {
	position: absolute;
	top: 30%;
	display: block;
	color: white;
	font-size: 1rem;
	font-weight: bold;
	z-index: 9999999;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: .4s ease-in-out;
}

.article-image>a {
	position: absolute;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	display: block;
	color: #ffffff;
	font-size: 1rem;
}

.ml9 {
	position: relative;
	font-weight: 200;
	font-size: 4em;
}

.ml9 .text-wrapper {
	position: relative;
	display: inline-block;
	padding-top: 0.2em;
	padding-right: 0.05em;
	padding-bottom: 0.1em;
	overflow: hidden;
}

.ml9 .letter {
	transform-origin: 50% 100%;
	display: inline-block;
	line-height: 1em;
}

.candidate a {
	text-decoration: none;
}

.candidate:active img,
.candidate:hover img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transform: scale(1.15);
	/* Safari and Chrome */
	-moz-transform: scale(1.15);
	/* Firefox */
	-ms-transform: scale(1.15);
	/* IE 9 */
	-o-transform: scale(1.15);
	/* Opera */
	transform: scale(1.15);
}

.candidate img {
	-webkit-transition: all .5s ease;
	/* Safari and Chrome */
	-moz-transition: all .5s ease;
	/* Firefox */
	-o-transition: all .5s ease;
	/* IE 9 */
	-ms-transition: all .5s ease;
	/* Opera */
	transition: all .5s ease;
}

.candidate-image {
	position: relative;
	width: 100%;
	overflow: hidden;
}


/* text hidden */

.candidate-image-text {
	color: #ffffff;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 1.2rem;
	line-height: 1.2em;
	z-index: 10;
	position: absolute;
	opacity: 0;
	-webkit-transition: all .5s ease;
	/* Safari and Chrome */
	-moz-transition: all .5s ease;
	/* Firefox */
	-o-transition: all .5s ease;
	/* IE 9 */
	-ms-transition: all .5s ease;
	/* Opera */
	transition: all .5s ease;
}


/* text shown on hover */

.candidate:active .candidate-image-text,
.candidate:hover .candidate-image-text {
	opacity: 1;
	-webkit-transition: all 1.5s ease;
	/* Safari and Chrome */
	-moz-transition: all 1.5s ease;
	/* Firefox */
	-o-transition: all 1.5s ease;
	/* IE 9 */
	-ms-transition: all 1.5s ease;
	/* Opera */
	transition: all 1.5s ease;
}

.candidate-name {
	color: #ffffff;
	text-align: center;
	top: 80%;
	left: 50%;
	border: 2px solid #fff;
	padding: .5em;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 1.2rem;
	line-height: 1.2em;
	z-index: 10;
	position: absolute;
	opacity: 0;
}


/* text shown on hover */

.candidate:active .candidate-name,
.candidate:hover .candidate-name {
	opacity: 1;
	-webkit-transition: all 1.5s ease;
	/* Safari and Chrome */
	-moz-transition: all 1.5s ease;
	/* Firefox */
	-o-transition: all 1.5s ease;
	/* IE 9 */
	-ms-transition: all 1.5s ease;
	/* Opera */
	transition: all 1.5s ease;
}


